<!--Muestra la plantilla para agregar una nueva publicación, con opción de volver al inicio o ver la lista de publicaciones -->
<!DOCTYPE html>
<html>
<head>
   <title>Agregar Publicación</title>
   <style>
    body
    {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: #101148;
        background-color: #d4cdff;
    }
    button
        {
            border: none;
            background: #29b881;
            font-weight: bold;
        }
        button:hover
        {
            color: white;
            background-color: #101148;
        }
        button:active
         {
            background-color: #24978b
        }

</style>
</head>
<body>
    <h1>Agregar Nueva Publicación</h1>

    <form method='POST'>
        {% csrf_token %}
        {{ form.as_p }}
        {% if form.errors %} <!-- Verifica si hay errores en el formulario -->
        <ul>
          {% for field in form %}
            {% if field.errors %}  <!-- Muestra errores específicos de cada campo -->
            {% endif %}
          {% endfor %}
        </ul>
        {% endif %}
        <button type="submit">Guardar Publicación</button>
    </form>
    <div class="action-links">
      <!-- Enlace para ir a la lista -->
      <a href="{% url 'lista_publicaciones' %}">Volver a la Lista</a>
  </div>
</body>
</html>